@font-face {
  font-family: "Macan";
  src: url("MacanPanWeb-Bold.woff2") format("woff2"),
    url("MacanPanWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("MacanPanWeb-Medium.woff2") format("woff2"),
    url("MacanPanWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("MacanPanWeb-Regular.woff2") format("woff2"),
    url("MacanPanWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macan";
  src: url("MacanPanWeb-Thin.woff2") format("woff2"),
    url("MacanPanWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domain-display";
  src: url("DomaineDisplay-Bold.woff2") format("woff2"),
    url("DomaineDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
